.form{
    width:80%;
    padding:20px;
    text-align:center;
    display:flex;
    
    
}

.form-input{
    width:70%;
    height:65px;
    font-size:1.1rem;
    padding-left:10px;
}
.btn{
    width:10%;
}