.form{
    
    padding:70px;
    text-align:center;
    display:flex;
    margin: 0 auto;
    
    
}

.form-input{
    width:90%;
    height:65px;
    font-size:1.1rem;
    padding-left:10px;
}
.btn{
    width:10%;
}